.layout {
    &__default {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    &__header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: linear-gradient(135deg, #1d99e0, #e0ebee);
    }
    &__logo{
        font-size: 25px;
        font-weight: 600;
        padding: 10px 0;
        a{
            text-decoration: none;
            color: black;
            
        }

    }
    &__menu {
        ul {
            display: flex;
            list-style: none;
            padding: 0;

            li {
                margin-right: 10px;
                position: relative; 
                font-size: 20px;
                margin-right: 40px;
            }
            a{
                text-decoration: none;
            color: black;
            
            }
            :hover{
                color: white;
            }
        }

        &__link {
            text-decoration: none;
            color: black;

            &--active {
                color: white;
            }
        }

        &__sub {
            position: absolute;
            top: 100%;
            left: 0;
            background: rgb(101, 116, 101);
            z-index: 10; 
            display: none !important ;
            text-align: center;
        }
        li:hover &__sub{
            display: block !important;
        }
    }

    &__footer {
        background: linear-gradient(135deg, #1d99e0, #e0ebee);
        text-align: center;
        padding: 25px;
    }
    &__main{
        
        padding-left: 40px;
        flex: 1;
    }
    &__login{
        a{
            text-decoration: none;
        color: black;
        margin: 5px;
        padding: 10px;
        background-color: #24aefd;
        border-radius: 10px;
        
        }
        :hover{
            color: white;
        }
    }
}

.home{
    padding: 80px;
    font-size: 19px;
    &__text{
        margin-bottom: 20px;
    }
    &__desc{
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 600;
    }
    &__title{
        
        padding:20px 80px;
        padding-bottom: 0;

        a{
            text-decoration: none;
            color: black;
            margin-right: 10px;
            border: 1px solid black;
            border-radius: 10px;
            padding: 5px;
            
            
        }
        a:hover{
            background:#89B449 ;
            border: 0;
        }
        hr{
            margin-top: 40px;
        }

    }
}
button{
    margin: 10px 0 10px 0;
    padding: 5px;
    font-size: 18px;
    border-radius: 10px;
    background: #89B449;
    border: 0;
   
}
button:hover{
    color: white;
    
}
.body{
    height: 100%; 
    margin: 0;
    padding: 0;
}